*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;
  color: white;
  background-color: #1e1e1e;
}

.navbar{
  height: 100px;
  background-color: crimson;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer{
  height: 150px;
  width: 100%;
  background-color: crimson;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1{
  font-size: 50px;
}

.section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}